<p id="notice"><%= notice %></p>

<div class="w-64 mx-auto mt-10">

  <%= image_tag @gif.image_url, class: "mx-auto w-full" %>

  <div class="flex justify-between text-xs my-2">
    <div class="text-gray-700">
      <!-- TIP: @gif.user.name possible because of "name of person gem" -->
      <!-- @gif.user goes to show in user controller -->
      Uploaded by: <%= link_to @gif.user.name, @gif.user %>
    </div>

    <div>
      <% if user_signed_in? && current_user == @gif.user  %>
        <%= link_to ' Edit', edit_gif_path(@gif) %>
      <% end %>
    </div>
  </div>

  <div class= "flex text-sm " data-controller="clipboard" >
    <%= text_field_tag nil, full_gif_url(@gif), data: { target: "clipboard.source" }, class: "form-control" %>
    <button data-action="click->clipboard#copy" data-target="clipboard.button" class="btn btn-purple rounded-r" >Copy</button>
  </div>

  <div class="text-center text-sm mt-3">
    <%= linked_tag_list @gif %>
  </div>

  


</div>
